<div>
  {{#link-to "application"}}
    Home
  {{/link-to}}
</div>

<hr>

<div>
  {{#link-to "about"}}
    About
  {{/link-to}}
</div>

<div>
  {{#link-to "contact"}}
    Contact
  {{/link-to}}
</div>

<hr>

{{outlet}}